.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    @apply shadow bg-blue-500;
}

.nav-text {
    @apply text-white font-bold;
}

/* Centering 3 main divs of the Navbar */
.navbar > div {
    flex: 1 0 0;
}

.right-info {
    text-align: center;
}

.nav-logo {
    text-align: center;
}
  
.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto;
}

/* Page links */
.nav-links > * {
    @apply inline-block active:bg-white active:text-blue-500 lg:hover:bg-white lg:hover:text-blue-500 transition duration-200 ease-in-out bg-blue-500 text-white font-bold py-4 px-4;
}


