.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    @apply shadow bg-blue-500;
}

/* Centering 3 main divs of the Navbar */
.navbar > div {
    flex: 1 0 0;
}

.nav-logo {
    @apply transform lg:hover:scale-110 transition duration-500 ease-in-out text-center text-white text-3xl font-sans;
}

.right-info {
    @apply transform lg:hover:scale-110 transition duration-500 ease-in-out text-center text-white text-xl font-sans;
}
  
.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto;
}

/* Page links */
.nav-links > * {
    @apply inline-block active:bg-white active:text-blue-500 lg:hover:bg-white lg:hover:text-blue-500 transition duration-200 ease-in-out bg-blue-500 text-white font-bold py-4 px-4;
}

/* Hide left and right Navbar content on smaller devices */
@media only screen and (max-width: 800px) {
    .nav-logo {
        display: none;
    }
    
    .right-info {
        display: none;
    }
}

